.container {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.text > :nth-child(1) {
  color: var(--themeRed);
  font-size: 1rem;
}

.services {
  padding: 2rem;
  display: flex;
  gap: 4rem;
}
.feature {
  padding-top: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.feature > :nth-child(3) {
  font-weight: normal;
  color: gray;
}
